<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/css/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Raj. It uses data from mapbox.com and darksky.com</p>
        <img class="potrait" src="/img/DSC08251.JPG">

    </div>
    {{>footer}}
</body>

</html>