<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    <link rel="icon" href="/css/img/weather.png">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html>